{
  "presets": [
      [
          "@babel/preset-env",
          {
              "modules":"umd"
          }
      ]
  ],
  "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-syntax-dynamic-import",
      ["@babel/plugin-transform-modules-commonjs", { "strictMode": false }]   
  ]
}